:root {
  --bg-color: #f4f3f1;
  --text-color: #111;
  --indent: 24px;
  --font: 'Helvetica Neue', sans-serif; 
  --font-size-small: 14px;
  --font-size-big: 48px;
  --font-size-h1: 85px;
}


img { 
	max-width: 100%;
	height: auto;
} /* Делаем так, чтоб изображение не выходило за родителя */

h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	font-size: 100%;
	font-weight: normal;
} /* Делаем базовые значения текста для всех заголовков */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: var(--font);
  background-color: var(--bg-color);
  color: var(--text-color);
  scroll-behavior: smooth; 
}

.main-wrapper {
  background-color: pink;
  max-width: 1200px;
  margin: 0 auto;  
}





/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
  padding: var(--indent) 0;
}

.header__logo, .header__email {
  z-index: 1; 
}

.header__logo-text {
  /* ! Need a var */
  font-size: 20px; 
  font-weight: bold;
}

.header__nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__nav-links {
  display: flex;
  gap: var(--indent);
}

.header__nav-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-size-small);
  white-space: nowrap;
}

.header__email-link{
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-size-small);
}










/* Hero */
.hero__title {
  font-size: var(--font-size-h1);
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: var(--indent);
}

/* .hero__title-shadow {
  text-shadow: 2px 2px #aaa;
} */

.hero__subheading {
  font-size: var(--font-size-small);
  text-align: justify;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: var(--indent);
}

.hero__subheading-indent {
  padding-left: 800px;
}

.hero__about {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--indent);
}

.hero__photo-img {
  width: 250px;
  border-radius: 5%;
  object-fit: cover;
}

.hero__about-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero__name {
  font-size: var(--font-size-big);
  font-weight: 800;
  line-height: 1.1;
  text-align: right;
}
















/* Мобильные устройства */
@media (max-width: 767px) {
  /* ! В разработке */
  .header__email-link {
    display: none;
  }

  .hero__subheading-indent {
    padding-left: 640px;
  }

  :root {
    --font-size-h1: 70px;
    --font-size-small: 12px;
    --font-size-big: 38px;
  }
}

/* Планшеты */
@media (min-width: 768px) and (max-width: 991px) {
  .header__email-link {
    display: none;
  }

  .hero__subheading-indent {
    padding-left: 640px;
  }

  :root {
    --font-size-h1: 70px;
    --font-size-small: 12px;
    --font-size-big: 38px;
  }
}

/* Небольшие ноутбуки */
@media (min-width: 992px) and (max-width: 1199px) {
  .hero__subheading-indent {
    padding-left: 750px;
  }
  :root {
    --font-size-h1: 80px;
    --font-size-small: 13px;
    --font-size-big: 43px;
  }
}

/* Стандартные десктопы */
@media (min-width: 1200px) {

}

